extends header
block head
    title Cipher Com | #{post.title}
block content
    .row
        .col-sm-2
        .col-sm-8
            .panel.panel-default.panel-main
                #main-body.panel-body
                    .media
                        .media-body
                            h1 #{post.title}
                        .media-right
                            a(href='#')
                            img.media-object(src='/res/img/brand_logo_new.png', alt='Cipher-com Post Photo')
                    hr
                    p #{post.description}
        .col-sm-2
